html, body, #app {
margin: 0;
height: 100%;
width: 100%;
}

body {
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
padding: 0;
}

li {
list-style-type: none;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 50px;
}

.flex-center {
display: flex;
justify-content: center;
align-items: center;
}

.btn-clear {
border: none;
background: transparent;
}

.nav-link {
font-size: 18px;
font-weight: bold;
text-decoration: none;
color: inherit;
}

.nav li {
margin-right: 10px;
}

.row {
display: flex;
flex-direction: row;
}

.space-between {
justify-content: space-between;

}

.link_light {
color: rgb(187, 46, 31);
text-decoration: none;
font-weight: bold;
}

.post_light {
display: flex;
background: #efefef;
margin-bottom: 10px;
padding: 10px 5px;
}

.description_text_light {
    color: #555555;
    padding-top: 5px;
}

.description_text_light a{
    color: #000000
}

.user_data_light{
    color: #666666; 
    padding-top: 5px;
}

.user_header_light{
    margin: 20px 0px 0px 0px;   
}